<a href="https://colab.research.google.com/github/bsrikanth24/Best-websites-a-programmer-should-visit/blob/master/comma_separated_column_to_rows.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark # Install PySpark if not already installed
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.window import Window

# Create a SparkSession
spark = SparkSession.builder.appName("ColabSpark").getOrCreate()

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [6]:
from pyspark.sql.functions import *
from pyspark.sql.window import Window

In [9]:
start_timer()

Timer started.

In [8]:
import time

def start_timer():
    global start_time
    start_time = time.time()
    print("Timer started.")

In [20]:
# Sample Data
data = [("m1", "m1,m2", "m1,m2,m3", "m1,m2,m3,m4")]
columns = ["col1", "col2", "col3", "col4"]

# convert to data frame
#df = spark.createDataFrame(data,columns).cache()
df = spark.createDataFrame(data,columns)

print()
df.show()

df.createOrReplaceTempView("tbl")

SQL="""
     SELECT
         EXPLODE(
             SPLIT(
                 CONCAT(col1,'-',col2,'-',col3,'-',col4)
             ,'-')
         ) AS col
     FROM tbl

 """

df=spark.sql(SQL)

df.show()

+----+-----+--------+-----------+
|col1| col2|    col3|       col4|
+----+-----+--------+-----------+
|  m1|m1,m2|m1,m2,m3|m1,m2,m3,m4|
+----+-----+--------+-----------+

+-----------+
|        col|
+-----------+
|         m1|
|      m1,m2|
|   m1,m2,m3|
|m1,m2,m3,m4|
+-----------+

In [13]:
df=df.select(explode(array(col("col1"),col("col2"),col("col3"),col("col4")))).alias("col")
df.show()

+-----------+
|        col|
+-----------+
|         m1|
|      m1,m2|
|   m1,m2,m3|
|m1,m2,m3,m4|
+-----------+

In [19]:
# Re-create the original DataFrame to ensure col1, col2, col3, col4 are present
data = [("m1", "m1,m2", "m1,m2,m3", "m1,m2,m3,m4")]
columns = ["col1", "col2", "col3", "col4"]
df = spark.createDataFrame(data, columns)

df.createOrReplaceTempView("tbl")
SQL="""
     SELECT
         EXPLODE(
             SPLIT(
                CONCAT(col1,'-',col2,'-',col3,'-',col4)
             ,'-')
         ) AS col
     FROM tbl

 """

df=spark.sql(SQL)

df.show()

+-----------+
|        col|
+-----------+
|         m1|
|      m1,m2|
|   m1,m2,m3|
|m1,m2,m3,m4|
+-----------+